//-pre=JSON.stringify(data['about-me'], null, 2)
- var titleSection = data['about-me'].titleSection ;
include ../section-title/section-title.pug
.column(span="row")
    h1.about-me-main-title= data['about-me'].mainTitle
.column(span="row")
    h2.about-me-sub-title= data['about-me'].subTitle
.column(span="row" height="10")
.column(span="row")
    h3.about-me-info= data['about-me'].info 
.column(span="row")
    .description-box-shadow
        each description in data['about-me'].descriptionList
            p.description=description
.column(span="row" height="10")
.column(span="row")
    button.pill-button-blue
        i.icon__download  
        span.text-button= data['about-me'].downloadButtonLabel
.column(span="row" height="10")
.column(span="row")
    button.disc-button-green
        i.icon-arrow-down 
.column(span="row" height="10")

